h2{
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    font-size: 200%;
    text-decoration: underline;
}
section p{
    font-size: 115%;
    text-align: justify;
    padding: 0 15px 0 15px;
}
#p1{
    margin-top: 40px;
}
#p2{
    margin-top: 50px;
    display: block;
}
ol li{
    font-size: 115%;
    text-align: justify;
    padding: 0 15px 0 15px;
}
video{
    display: block;
    width: 70%;
    border-radius: 20px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
/* Media queries */
@media screen and (max-width: 1200px) {
    video {
        width: 80%;
    }
}
@media screen and (max-width: 1000px) {
    video {
        width: 90%;
    }
}

@media screen and (max-width: 820px){
    video {
        width: 100%;
    }
}
