section h2{
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    font-size: 200%;
    text-decoration: underline;
}
section p{
    font-size: 115%;
}
#contact-link{
    text-decoration: underline;
    color: black;
    display: block;
    margin-top: 10px;
}
#contact-link:hover{
    color: blue;
}
#contact-link:active{
    color: yellow;
}
#p1{
    text-align: justify;
    font-size: 115%;
    margin-bottom: 30px;
}
table{
    border-collapse: collapse;
    background-color: rgb(247, 226, 197);
    padding: 10px;
    width: 90%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: solid medium;
}
caption{
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial';
}
tr{
    border-color: black;
    border: solid thin;
}
th{
    background-color: rgb(207, 86, 86);
    padding: 5px;
    border-color: black;
    font-size: 120%;
    border: solid thin;
    border-bottom: solid medium;
}
td{
    padding: 5px;
    font-size: 110%;
    border-color: black;
    border: solid thin;
}
.job{
    font-weight: bold;
    text-align: center;
    background-color: rgb(223, 121, 121);
    border-right: solid medium;
}
