h2{
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    font-size: 200%;
    text-decoration: underline;
    margin-bottom: 40px;
}
.question{
    font-size: 140%;
    text-decoration: underline;
    text-align: left;
    padding: 0 10px 0 20px;
}
.answer{
    padding: 5px 10px 5px 10px;
    text-align: justify;
    font-size: 110%;
    border: 2px solid black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}