/*
    THIS CSS SHEET TARGETS ALL COMMON FEATURES SHARED BY THE 7 WEB PAGES!
    THESE INCLUDE THE HEADER, THE NAV, SOME PARTS OF THE SECTION (CONTENT BODY) AND THE FOOTER!
    IT ALSO TARGETS COMMON ELEMENTS LIKE HEADINGS, PARAGRAPHS, AND UNORDERED LISTS!
    SEPARATE SHEETS ARE MADE FOR EACH PAGE BASED ON ITS UNIQUE FEATURES!
*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-image: url("../src/images/wall.jpg");
    background-position: left;
    background-repeat: repeat; 
    background-size: cover;
}
h1, h2, h3, h4, h5, h6, p {
    text-align: center;
}
a{
    color: white;
    font-size: 125%;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.free-space{
    box-sizing: border-box;
    padding: 50px;
    width: 100%;
}
header, nav, section, footer {
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(128, 25, 25);
    position: relative;
    width: 100%;
    height: 250px;
    display: grid;
    grid-template-columns: auto auto;
}
.header-logo{
    margin: auto 10px;
    border: 3px solid white;
    position: absolute;
    background-color: white;
    padding: 5px 20px 0 20px;
    width: auto;
    height: 70%;
    top: 15%;
    right: 73%;
    left: 4%;
    border-radius: 15px;
}
.header-logo img{  
    display: block;
    position: absolute;
    left: 10%;
    margin-left: auto;
    margin-right: auto; 
    width: 80%;
    height: auto;
}
.header-text{
    margin: 10px;
    position: absolute;
    right: 0;
    left: 30%;
    height: 90%;
    color: white;
    border: 5px double burlywood;
    border-radius: 10px;
    padding: 0 5px 0 5px;
}
.header-text h1{
    margin-top: 55px;
    font-size: 52px;
    font-family: 'Castellar';
    font-weight: none;
}
.header-text p{
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-family: 'Ink Free';
    width: 80%;
    border-top: 5px double burlywood;
    padding-top: 20px;
}
.navbar{
    background-color: rgb(181, 63, 63);
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #444;
    border-top: 2px solid #444;
    position: sticky;
    top: 0;
    z-index: 2;
    
}
#active{
    
    font-weight: 900;
    border: 2px solid;
}
nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li{
    border-collapse: collapse;
    border-right: 2px groove black;
    padding: 10px 20px;
    text-align: center;
   
}
nav ul li:hover{
    background-color: burlywood;
}
nav ul li:active{
    background-color: yellow;
}
.tg-link{
    border-radius: 50%;
    position: absolute;
    padding: 5px 5px 0 5px;
    top: 5px;
    right: 10px;
}
section{
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(250, 219, 177);
    width: 60%;
    margin: -20px auto 0 auto;
}
footer{
    box-sizing: border-box;
    border: 5px double burlywood;
    background-color: rgb(128, 25, 25);
}
.footer-container{
    position: relative;
    display: grid;
    grid-template: auto auto auto auto auto;
    width: 100%;
    height: 200px;
}
.footer-container img{
    position: absolute;
    width: 150px;
    left: 45%;
    right: 55%;
    top: 10%;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
}
.footer-container p{
    background-color: white;
    position: absolute;
    left: 65%;
    right: 3%;
    top: 0;
    font-size: 175%;
    color: black;
    border-radius: 20px;
    padding: 10px 0;
}
.sitemap{
    position: absolute;
    left: 10%;
    right: 20%;
    top: 10%;
    padding: 10px;
    width: 200px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}
.sitemap a {
    font-size: 130%;
    color: black;
}
.sitemap:hover{
    background-color: burlywood;
}
.pages{
    position: absolute;
    left: 12%;
    right: 20%;
    top: 40%;
    font-size: 120%;
    color: white;
}
.footer-info{
    position: absolute;
    right: 5%;
    left: 70%;
    top: 40%;
    color: white;
    font-size: 110%;

}
.copyright{
    border-top: 2px solid burlywood;
    margin: 0 0 -20px 0;
    padding: 0;
    font-size: 120%;
    background-color: rgb(181, 63, 63);
}
.toggle-button{
    display: none;
    position: absolute;
    top: .75rem;
    left: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


/*
    RESPONSIVENESS CODES BELOW
    */

@media screen and (max-width: 1500px){
    .header-text h1{
        font-size: 45px;
    }
    .header-logo img{
       top: 6%;
    }
}
@media screen and (max-width: 1400px){
    section{
        width: 70%;
        padding: 10px 50px;
    }
    .header-logo img{
        top: 10%;
    }
}
@media screen and (max-width: 1300px){
    .header-text h1{
        font-size: 40px;
        margin-top: 40px;
    }
    section{
        width: 75%;
        padding: 10px 50px;
    }
    header{
        height: 250px;
    }
    .header-logo img{
        top: 15%;
    }
}
@media screen and (max-width: 1200px){
    .header-text h1{
        font-size: 38px;
        margin-top: 40px;
    }
    section{
        width: 80%;
        padding: 10px 50px;
    }
    .header-logo{
        height: 65%;
        top: 15%;
    }
    .header-logo img{
        top: 20%;
    }
    .footer-container p{
        font-size: 150%;
        left: 65%;
    }
    .footer-info{
        left: 65%;
        font-size: 105%;
    }
}
@media screen and (max-width: 1100px){
    
    header{
        height: 270px;
    }
    .header-text h1{
        margin-top: 40px;   
    }
    .header-logo{
        height: 60%;
        top: 20%;
    }
}
@media screen and (max-width: 1000px){
    body{
        box-sizing: content-box;
    }
    .header-text h1{
        font-size: 37px;   
    }
    section{
        width: 90%;
        padding: 10px 50px;
    }
}
@media screen and (max-width: 900px){
    .header-logo{
        height: 50%;
        top: 25%;
    }
    .header-logo img{
        top: 25%;
    }
    section{
        position: relative;
        width: 100%;
        padding: 10px 50px;
        margin-top: 0;
    }
    .header-text p{
        font-size: 23px;
    }
    .footer-container img{
        left: 40%;
        right: 50%;
    }
    .footer-container p{
        font-size: 125%;
        left: 60%;
        right: 5%;
    }
    .footer-info{
        left: 60%;
    }
}

@media screen and (max-width: 820px) {
    .toggle-button{
        display: flex;
    }
    .toggle-button:hover{
        background-color: burlywood;
    }
    .toggle-button:active{
        background-color: black;
    }
    .navbar{
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        
        flex-direction: column;
        width: 100%;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    nav ul .activenav{
        display: flex;
    }
    .tg-link{
        position: relative;
        width: 60%;
        margin-top: 0;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0;
        text-align: center;
        text-decoration: underline;
        
    }
    .tg-link a{
        padding-left: 40px;
    }
    .tg-link a:hover{
        color: blue;
    }
    .tg-link a:active{
        color: yellow;
    }
    .tg-link a::before{
        content: "Our Telegram Channel";
    }
    .tg-link a img{
        visibility: hidden;
    } 
    .footer-info{
        left: 50%;
    }
    .pages{
        display: none;
    }
    .footer-container img{
        left: 12%;
        right: 22%;
        top: 40%;
    }
}
@media screen and (max-width: 650px){
    header{
        display: grid;
        grid-template-columns: auto;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 100%;
        height: 550px;
    }
    .header-logo{
        width: 80%;
        left: 5%;
        right: 5%;
        height: 45%;
        margin-left: auto;
        margin-right: auto;
        top: 3%;
    }
    .header-logo img{
        top: 5%;
        left: 10%;
        right: 10%;
        width: 70%;
        bottom: 1%;

    }
    .header-text{
        left: 0;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
        height: 45%;
        width: 90%;
    }
    .header-text h1{
        font-size: 35px;
    }
    .header-text p{
        font-size: 20px;
        padding-bottom: 10px;
    }
    .toggle-button{
        display: flex;
    }
    .toggle-button:hover{
        background-color: burlywood;
    }
    .toggle-button:active{
        background-color: black;
    }
    .navbar{
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        
        flex-direction: column;
        width: 100%;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    nav ul .activenav{
        display: flex;
    }
    .footer-container{
        height: 300px;
    }
    .sitemap{
        left: 30%;
        right: 20%;
        top: 5%;
    }
    .footer-container img{
        top: 30%;
        left: 35%;
        right: 30%;
    }
    .footer-container p{
        display: none;
    }
    .footer-info{
        top: 65%;
        left: 20%;
        right: 20%;
    }
}

@media screen and (max-width: 500px){
    header{
        height: 500px;
    }
    .header-logo{
        height:40%;
        
    }
    .header-logo img{
        top: 4%;
        left: 10%;
        right: 10%;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        bottom: 4%;

    }
    nav ul li{
        left: 10%;
        right: 10%;
    }
}
