section h2{
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    font-size: 200%;
    text-decoration: underline;
}
h3{
    font-family: 'Verdana', 'Geneva';
    font-size: 150%;
    text-decoration: underline;
}
section p{
    font-size: 115%;
}
section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#daniel{
    border: 2px groove black;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#daniel img{
    width: 200px;
    border-radius: 30px;
    padding: 15px;
    float: left;
}
#daniel p{
    padding: 10px;
    text-align: justify;
}
#staff{
    border: 2px groove black;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.container1{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: auto auto auto;
    background-color: antiquewhite;
    margin-bottom: 20px;

    gap: 15px;
}
.container2{
    border: 2px dashed;
    border-radius: 30px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.container2 img{
    border-radius: 25px;
}
.center a{
    text-decoration: underline;
    display: block;
    margin-top: 15px;
    color: black;
    font-size: 110%;
}
.center a:hover{
    color: blue;
}
.center a:active{
    color: yellow;
}

/* Media queries */
@media screen and (max-width: 1600px) {
    .container1{
        gap: 5px;
    }
}
@media  screen and (max-width: 1200px) {
    .conatiner1:{
        display: grid;
        grid-template-columns: auto auto;
   
    }
    .container2{
        left: 0;
        right: 0;
    }
    
}

@media screen and (max-width: 1000px) {
    .product {
        width: 90%;
    }
    #daniel{
        width: 75%;
    }
    #staff{
        width: 85%;
    }
}

@media screen and (max-width: 820px){
    .product {
        width: 100%;
    }
    #daniel{
        width: 90%;
    }
    #staff{
        width: 90%;
    }

}
@media screen and (max-width: 650px) {
    .gallery img{
        height: 300px;
    }
    #henry{
        display: none;
    }
    #daniel{
        width: 100%;
    }
    #staff{
        width: 100%;
    }
}